.NotFoundDiv{
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}


.NotFoundDiv h1{
    font-family: kanit;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 1.8rem;
}

.NotFoundDiv p{
    font-family: sans-serif;
    color: rgb(44, 44, 44);
}