.noPostsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.noPostsDiv img{
    width: 50%;
    height: 50%;
}

.noPostsDiv h1{
    color: black;
    font-family: sans-serif;
}



.postsDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    max-width: 700px;
    margin-top: 10px;
}

.postsDiv img{
width:100%;
border: 1px solid rgb(199, 199, 199);
}

@media (hover:hover){
   .postsDiv img:hover{
    cursor: pointer;
}

}